{{ form_start(chapter_form) }}
    <div>
        {{ form_label(chapter_form.title) }}
        {{ form_widget(chapter_form.title) }}
        {{ form_errors(chapter_form.title) }}
    </div>

    {% for form_page in chapter_form.pages %}
        {{ form_widget(form_page.children.content) }}
    {% endfor %}

    <div>
        {{ form_widget(chapter_form.addPage) }}
        <button>{{ btn_label }}</button>
    </div>
{{ form_end(chapter_form) }}