{% extends 'base.html.twig' %}

{% block body %}
    {% for key, tag in tags %}
        {% if key == 2 and histories is not empty %}
            <section>
                <h3>Last reading</h3>
                <div>
                    {% for history in histories %}
                        <article>
                            <header>
                                <a href="{{ path('app_book_read', {book_uuid: history.book.uuid, chapter_uuid: history.chapter.uuid}) }}">
                                    {{ history.book.title }}
                                </a>
                            </header>
                            <main>
                                {{ history.book.summary }}
                            </main>
                            <footer>
                                {% for tag in history.book.tags %}
                                    <a href="{{ path('app_tag_show', {tag_uuid: tag.uuid}) }}">{{ tag.name }}</a>
                                {% endfor %}
                            </footer>
                        </article>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
        {% if tag.books|length >= 1 %}
            <section>
                <h2>{{ tag.name }}</h2>
                <div>
                    {% for book in tag.books %}
                        <article>
                            <header>
                                <a href="{{ path('app_book_show', {book_uuid: book.uuid}) }}">
                                    {{ book.title }}
                                </a>
                            </header>
                            <main>
                                {{ book.summary }}
                            </main>
                            <footer>
                                {% for tag in book.tags %}
                                    <a href="{{ path('app_tag_show', {tag_uuid: tag.uuid}) }}">{{ tag.name }}</a>
                                {% endfor %}
                            </footer>
                        </article>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}