{{ form_start(book_form) }}
    <div class="flex flex-col mb-3">
        <div class="flex justify-between gap-3">
            <div class="flex items-center gap-1 grow">
                {{ form_label(book_form.title, null, {label_attr: {class: 'mb-1'}}) }}
                {{ form_widget(book_form.title, {attr: {class: 'py-1 px-2 border-1 rounded drop-shadow grow'}}) }}
                {{ form_errors(book_form.title) }}
            </div>

            <div class="flex-none">
                {{ form_label(book_form.state, null, {label_attr: {class: 'mb-1'}}) }}
                {{ form_widget(book_form.state, {attr: {class: 'py-1 px-2 border-1 rounded drop-shadow'}}) }}
                {{ form_errors(book_form.state) }}
            </div>
        </div>
    </div>

    <div class="flex flex-col mb-3">
        {{ form_label(book_form.tags, null, {label_attr: {class: 'mb-1'}}) }}
        <div class="flex flex-row gap-4">
            {% for tagInput in book_form.tags %}
                <div class="flex flex-row gap-1 items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                    {{ form_widget(tagInput) }}
                    {{ form_label(tagInput) }}
                </div>
            {% endfor %}
        </div>
        {{ form_errors(book_form.tags) }}
    </div>

    <div class="flex flex-col mb-6">
        {{ form_label(book_form.summary, null, {label_attr: {class: 'mb-1'}}) }}
        {{ form_widget(book_form.summary, {attr: {class: 'py-1 px-2 border-1 rounded drop-shadow', rows: '10'}}) }}
        {{ form_errors(book_form.summary) }}
    </div>

    <div class="flex justify-end">
        <button class="rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">{{ btn_label }}</button>
    </div>
{{ form_end(book_form) }}