{% extends 'base.html.twig' %}

{% block body %}
    <div class="container max-w-screen-lg mx-auto grid gap-6">
       <div class="flex justify-between items-center">
           <div class="flex flex-col gap-1">
               <h1 class="font-semibold text-2xl">Books</h1>
               <p>List of all of your books</p>
           </div>
           <a href="{{ path('app_author_book_create') }}" class="rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
               Create book
           </a>
       </div>
        {% if books|length > 0 %}
            <table class="bg-white drop-shadow-lg text-slate-900">
                <thead class="bg-slate-50">
                    <tr>
                        <th class="p-4 text-left font-medium">Title</th>
                        <th class="p-4 text-left font-medium" colspan="8">Tags</th>
                        <th class="p-4 text-left font-medium">State</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr class="border-b">
                        <td class="font-medium p-3">{{ book.title }}</td>
                        <td class="p-3 text-gray-500" colspan="8">
                            {% for key, tag in book.tags %}
                                {{ tag.name ~ (book.tags[key + 1] is defined ? ', ' : '')}}
                            {% endfor %}
                        </td>
                        <td class="p-3 text-gray-500">
                            {{ book.state.name }}
                        </td>
                        <td class="p-3 w-fit flex gap-2 justify-end w-full">
                            <a href="{{ path('app_author_book_update', {book_uuid: book.uuid}) }}" class="rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Edit</a>
                            <form action="{{ url('app_author_book_delete', {book_uuid: book.uuid}) }}" method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token('delete' ~ book.uuid) }}" />
                                <button class="text-red-700 rounded-md bg-white px-3 py-2 text-sm font-semibold shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot class="bg-slate-50">
                    <tr class="border-b">
                        <td class="p-3" colspan="10">
                            Showing <span class="font-medium">{{ firstBook }}</span> to <span class="font-medium">{{ lastBook }}</span> of <span class="font-medium">{{ books.count }}</span> results
                        </td>
                        <td class="flex gap-2 justify-end p-3" colspan="1">
                            {% if previousPage < 1 %}
                                <span class="opacity-75 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                                    Previous
                                </span>
                            {% else %}
                                <a href="{{ path('app_author_book_index', {p: previousPage}) }}" class="rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                                    Previous
                                </a>
                            {% endif %}
                            {% if maxPage < nextPage %}
                                <span class="opacity-75 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                                    Next
                                </span>
                            {% else %}
                                <a href="{{ path('app_author_book_index', {p: nextPage}) }}" class="rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                                    Next
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                </tfoot>
            </table>
        {% else %}
            <div class="font-semibold text-xl text-center">
                You don't have a book yet :(
            </div>
        {% endif %}
    </div>
{% endblock %}