{% extends 'base.html.twig' %}

{% block body %}
    <div class="container max-w-screen-lg mx-auto grid gap-6">
       <div class="flex justify-between items-center">
           <div class="flex flex-col gap-1">
               <h1 class="font-semibold text-2xl">Books</h1>
               <p>List of all of your books</p>
           </div>
           <a href="{{ path('app_author_book_create') }}" class="text-slate-900 font-medium border-1 rounded drop-shadow bg-blue-200 py-2 px-3.5">Create</a>
       </div>
        <table class="bg-white drop-shadow-lg text-slate-900">
            <thead class="bg-slate-100">
                <tr>
                    <th class="p-4 text-left font-medium">Title</th>
                    <th class="p-4 text-left font-medium">Tags</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr class="border-b">
                    <td class="font-medium p-3">{{ book.title }}</td>
                    <td class="p-3 text-gray-500">
                        {% for tag in book.tags %}
                            {{ tag.name }}
                        {% endfor %}
                    </td>
                    <td class="p-3 w-fit flex gap-3 justify-end w-full">
                        <a href="{{ path('app_author_book_update', {book_uuid: book.uuid}) }}" class="text-sky-500 font-medium">Edit</a>
                        <form action="{{ url('app_author_book_delete', {book_uuid: book.uuid}) }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('delete' ~ book.uuid) }}" />
                            <button class="text-red-500 font-medium">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}